
/**
 * Klaviyo
 */

.logo[data-logo="Klaviyo"] {
  width: 3.017383546em;
  /* (356.99/106.48) * (1-.08-.02) - 0 */
}

.logo[data-logo="Klaviyo"] > * {
  background-image: url(images/logo.svg);
  margin: .08em 0 .02em 0;
}

.logo[data-logo="Klaviyo"].monochromatic > * {
  background-image: url(images/logo-monochromatic.svg);
}
